'.source.prg':
  'for':
    'prefix':'for'
    'body':'for $1 to $2\n\t$3\nnext'
  'stepped-for':
    'prefix':'forst'
    'body':'for $1 to $2 step $3\n\t$4\nnext'
  'while':
    'prefix':'wh'
    'body':'while ${1:pred}\n\t$2\nwend'
  'repeat':
    'prefix':'re'
    'body':'repeat\n\t$2\nuntil ${1:pred}'
  'command':
    'prefix':'com'
    'body':'def ${1:name} ${2:args}\n\t$3\nend'
  'function':
    'prefix':'fun'
    'body':'def ${1:name}(${2:args})\n\t$3\nend'
  'if':
    'prefix':'if'
    'body':'if ${1:pred} then\n\t$2\nendif'
  'else':
    'prefix':'el'
    'body':'else\n\t$1'
  'else if':
    'prefix':'elif'
    'body':'elseif ${1:pred} then\n\t$2'
  'on goto':
    'prefix':'on'
    'body':'on $1 goto $2'
  'on gosub':
    'prefix':'on'
    'body':'on $1 gosub $2'
